<div class="home-component">
  <h1> Home Component</h1>

  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img class="img-carosel"
             src="https://firebasestorage.googleapis.com/v0/b/module4-8223f.appspot.com/o/0cg78l5eajum?alt=media&token=e6aa7840-cbe5-4e64-8948-b3ee5efd6f46"
             alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img class="img-carosel"
             src="https://firebasestorage.googleapis.com/v0/b/module4-8223f.appspot.com/o/1pjfdquubgv?alt=media&token=b6102f3d-2efe-4f61-b25c-1d33d189a5d1"
             alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="img-carosel"
             src="https://firebasestorage.googleapis.com/v0/b/module4-8223f.appspot.com/o/5t3eiuu4zsu?alt=media&token=2ca66448-f508-4683-827e-2f8174a6558d"
             alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!--Chia màn hinh-->

<div class="container ">
  <div class="row">
    <div class="col-12" style="margin-top: 70px; margin-bottom: 20px">
      <mat-card style="margin: 0; " class="col-12 d-flex flex-row">

        <div class="container col-9" style="justify-content: flex-start">
          <div class="row">
            <div class="col-12" style="margin-top: 70px; margin-bottom: 20px">
              <mat-card style="margin: 0">
                aaaaaaaaaaaaaaaaaa

              </mat-card>
            </div>
          </div>
        </div>

        <div class="container col-3" style="justify-content:flex-end">
          <div class="row">
            <div class="col-12" style="margin-top: 70px; margin-bottom: 20px">
              <mat-card style="margin: 0">
              bbbbbbbbbbbb

              </mat-card>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
ngFe

