.home-component{
  margin-top: 100px;
}
.carousel-item img{
  width: 80%;
  text-align: center;

}
.img-carosel{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 500px;
}
