<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus icon'></i>
    <div class="logo_name" style="font-style: italic">MePhim Gi</div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class='bx bx-search'></i>
      <input type="text" placeholder="Search...">
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a routerLink="">
        <i class='bx bx-home'></i>
        <span class="links_name">Home</span>
      </a>
      <span class="tooltip">Home</span>
    </li>
    <li>
      <a routerLink="user">
        <i class='bx bx-user'></i>
        <span class="links_name">User</span>
      </a>
      <span class="tooltip">User</span>
    </li>
    <li>
      <a routerLink="film">
        <i class='bx bx-chat'></i>
        <span class="links_name">Film</span>
      </a>
      <span class="tooltip">Film</span>
    </li>
    <li>
      <a routerLink="category">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Category</span>
      </a>
      <span class="tooltip">Category</span>
    </li>

    <li>
      <a routerLink="nation">
        <i class='bx bx-pie-chart-alt-2'></i>
        <span class="links_name">Nation</span>
      </a>
      <span class="tooltip">Nation</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-folder'></i>
        <span class="links_name">File Manager</span>
      </a>
      <span class="tooltip">Files</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cart-alt'></i>
        <span class="links_name">Order</span>
      </a>
      <span class="tooltip">Order</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-heart'></i>
        <span class="links_name">Saved</span>
      </a>
      <span class="tooltip">Saved</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Setting</span>
      </a>
      <span class="tooltip">Setting</span>
    </li>
    <li class="profile" (click)="logOut()" style="cursor:pointer">
      <div class="profile-details">
        <div class="name_job" style="margin: 10px 60px ">
          <div class="name">LogOut</div>
        </div>
      </div>
      <i class='bx bx-log-out' id="log_out"  >
      </i>
    </li>
  </ul>
</div>



